* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  font: 12px "Helvetica Nueue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear-fix:after
{
  content: "";
  clear: both;
  height: 0px;
  display: table;
}

.loader
{
  background-image: url(../img/radio.gif); 
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.loader-block
{
  background: #eee;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  position: absolute;
  opacity: .5;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  min-height: 75px;
}

.hidden
{
  display: none;
}

.company-component
{
  width: 25%;
  float: left;
  padding: 20px;

  table{
    width: 100%;

    th,td{
      border-bottom: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td{
      text-align: right;
    }

    tr:last-child td{
      border-bottom: 0 none;
    }

    tr.key-values{
      font-size: 22px;
      font-weight: bold;

      td:first-child{
        text-align: left;
      }
    }
  }
}

.company-app{
  position: relative;
}

.search-component
{
  position: relative;

  .search-input-container
  {
    input
    {
      padding: 7px;
      border: 1px solid #eee;
      width: 100%;
    }

    .loader{
      margin-left: -25px;
      margin-top: 2px;
    }
  }

  .search-results
  {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;

    ul
    {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: 1px solid #ddd;

      li
      {
        display: block;

        a
        {
          padding: 7px;
          display: block;
          border-bottom: 1px solid #ddd;
        }

        a:hover{
          background-color: #00B7FF;
          color: #fff;
        }

      }

      li:last-child a{
        border-bottom: 0 none;
      }
    }
  }
}

.company-component .search-component{
  margin-bottom: 20px;
}