<div id="InvestmentCompare"></div>

{{#contentFor "pageScripts"}}
  <script src="/components/numeral/min/numeral.min.js"></script>
  <script src="/dist/js/components/company-quotes.js"></script>
  <script src="/dist/js/components/search.js"></script>
  <script src="/dist/js/components/searchable-company-component.js"></script>
  <script src="/dist/js/pages/index.js"></script>
{{/contentFor}}